<% comments.each do |c| %>
	<div class="row c-view" >
		<div class="col-md-12" style="margin-top:10px;">
			<p class="col-md-2"><%= c.user.name %></p>
			<p><%= c.content %></p>
		</div>
	</div>
<% end %>
