<style>
.upper-btn {
	background-color: white;
	color: #E67F22;
	border: 1px solid #E67F22;
	box-sizing: border-box;
		padding: 10px;
			width: 50%;
				text-align: center;
}
.selected {
	background-color: #E67F22;
	color: white;
}
.write_panel {
	background-color: lightgray;
		padding: 15px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
}
<<<<<<< HEAD


=======
>>>>>>> ff7e86acb2a9aa440d1e2576bf1b7be571942eb5
</style>

<div class="row">
	<div id="question_btn" class="col-md-6 upper-btn selected">
		질문
	</div>
	<div id="vote_btn" class="col-md-6 upper-btn">
		투표
	</div>
</div>
<div class="row" id="question_write">
	<div class="panel write_panel col-md-12">
<<<<<<< HEAD
		<form action="/home/create" method="POST">
			<div>
				<span>icon username</span> -> 
				<span class="to_user_id">
					<select name="toUserId">
						<option value="임채민">임채민</option>
						<option value="손원희">손원희</option>
						<option value="고태건">고태건</option>
						<option value="서재성">서재성</option>
						<option value="김유경">김유경</option>
						<option value="김승현">김승현</option>
					</select>
				</span>
			</div>
			<div>
				<textarea name="question" cols="100" rows="3" placeholder="질문을 적어주세요" ></textarea>
			</div>
			<div>
				<textarea name="description" cols="60" rows="7" placeholder="추가 설명을 적어주세요" ></textarea>
			</div>
			<div>
				<button type="submit" class="pull-right btn_gray">질문등록</button>
			</div>
=======
		<form>
			<div>
				icon username -> icon username
			</div>
			<div>
				질문을 적어주세요
			</div>
			<div>
				추가 설명이 필요하다면..!
			</div>
			<a class="pull-right btn-gray">질문등록</a>
>>>>>>> ff7e86acb2a9aa440d1e2576bf1b7be571942eb5
		</form>
	</div>
</div>
<div class="row" id="vote_write" style="display:none">
	<div class="panel write_panel col-md-12">
		icon username
<<<<<<< HEAD
		<form action="/home/index" method="POST">
			<div>
				<textarea name="vote" cols="100" rows="3" placeholder="투표를 만들어주세요" ></textarea>
			</div>
			<div>
				<input type="checkbox" name="임채민" value="임채민">임채민
				<input type="checkbox" name="손원희" value="손원희">손원희
				<input type="checkbox" name="고태건" value="고태건">고태건 <br>
				<input type="checkbox" name="서재성" value="서재성">서재성
				<input type="checkbox" name="김유경" value="김유경">김유경
				<input type="checkbox" name="김승현" value="김승현">김승현
			</div>
				<button type="submit" class="pull-right btn_gray">투표등록</button>
=======
		<form>
			<div>
				write
			</div>
			<div>
				choice
			</div>
			<a class="pull-right btn-gray">투표등록</a>
>>>>>>> ff7e86acb2a9aa440d1e2576bf1b7be571942eb5
		</form>
	</div>
</div>


<script>
$(document).ready(function(){
	var toggle = function(){
		$("#question_btn").toggleClass('selected');
		$("#vote_btn").toggleClass('selected');
		$('#question_write').toggle();
		$('#vote_write').toggle();
	}
	$("#question_btn").click(toggle);
	$("#vote_btn").click(toggle);
});
</script>
