// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.q-view {
	border: 1px solid lightgray;
		border-radius: 10px;
			padding: 10px 0;
}
.desc {
	background-color: lightgray;
		margin: 20px 50px;
			padding: 5px;
}
.date {
	display: inline-block;
	padding: 0;
		color: lightgray;
}
.below-view {
	background-color: lightgray;
	margin: 0 5px;
}
.show-reply-selected {
	background-color: orange !important;
}
.show-cmt-selected {
	background-color: green !important;
}
.photo_cell {
	min-height: 40px;

		    display: -webkit-box;
					    display: -moz-box;
								    display: -ms-flexbox;
											    display: -webkit-flex;
														    display: flex;
																	    align-items: center;
																				    justify-content: center;
}
.vote_graph {
	display: inline-block;
	background-color: orange;
		min-height: 20px;
}
			.vote_graph-selected {
				background-color: green;
			}
			.vote_count {
				display: inline-block;
			}
