*{
  @import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
}

.row1{
  background-color: #e67d22;
  width: 100%;
  height: 50px;
  
  max-width: 1366px;
  min-width: 1000px;
}

.btn-gray {
	display: inline-block;
	padding: 5px 10px;
		font-weight: 200;
	color: white;
	background-color: gray;
	border-radius: 3px;
}

.icon {
	display: inline-block;
	background-size: contain;
	padding-top:45px;
	border-radius:50%;
	width:45px;
	height:45px;
	margin:3px;
}
.item-count {
	display: inline-block;
	width: 10px;
	height: 10px;
	line-height: 10px;
	border-radius: 50%;
	font-size: 6pt;
	background-color: red;
	color: white;
}
.upper-btn {
	background-color: white;
	color: #E67F22;
	border: 1px solid #E67F22;
	box-sizing: border-box;
		padding: 10px;
			width: 50%;
				text-align: center;
}
.selected {
	background-color: #E67F22;
	color: white;
}
.write_panel {
	background-color: lightgray !important;
		padding: 15px;
			border-top-left-radius: 0px !important;
			border-top-right-radius: 0px !important;
}
.target_box {
	background-color: white;
		padding: 5px;
		border: 1px solid lightgray;
			border-radius: 5px;
				width: 94%;
					margin: 0 3%;
}
	textarea {
		-webkit-box-sizing: border-box;
			       -moz-box-sizing: border-box;
							             box-sizing: border-box;
														 width: 94%;
															 margin: 5px 3%;
	}


